* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero__container {
  justify-content: space-between;
}

.hero__container__top {
  display: flex;
  border-radius: 10px;
  gap: 10rem;
  border: 4px solid whitesmoke;
  padding: 1vmin 1.5vmin;
}

.hero__container__center {
  display: flex;
  border-radius: 10px;
  gap: 2rem;
  border: 4px solid whitesmoke;
  padding: 2vmin 2vmin;
  margin: 3em 0;
}

.hero__container__bottom {
  display: flex;
  border-radius: 10px;
  gap: 2rem;
  padding: 2vmin 2vmin;
  border: 2px solid whitesmoke;
}

.hero__content {
  width: 40%;
}