@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.background___image {
  background: url("../images/bg-hero-desktop.svg");
  height: 80vh;
}

.nav__bar {
  @include flex(space-between, center);
  margin-top: 2em;


.btn {
  padding: 1em 3em;
  border: none;
  background-color: white;
  box-shadow: 0 0 2px gray;
  border-radius: 2em;
  cursor: pointer;
}
}


.hero {
  @include flex(space-between, center);
  gap: 2em;

  &__btn {
    padding: 1em 2em;
    border: none;
    border-radius: 2em;
    background-color: $Pink;
    color: white;
  }
  
}

.footer__part {
  @include flex(space-between, center);
}
